{{#unless extended_from}}
<tr>
  <td>
    <strong>{{name}}</strong>
    {{#if overwritten_from}}
    <a href="{{crossLinkRaw overwritten_from.class}}#attribute_{{name}}">({{overwritten_from.class}})</a>
    {{/if}}
    {{#if required}}<br/>
    <span class="required"></span>
    {{/if}}
    {{#if static}}
    <span class="fa fa-bolt" title="static"></span>
    {{/if}}
    {{#if deprecated}}
    <span class="fa fa-exclamation-circle" title="deprecated"></span>
    {{/if}}
  </td>

  <td>
  {{{default}}}
  </td>

  <td>
    <em>{{#crossLink type}}{{/crossLink}}</em>
  </td>

  <td class="description">
  {{{attrDescription}}}
  </td>
</tr>
{{/unless}}