{{#unless extended_from}}
<div class="method">
  <div class="methodName">
    <!-- NAME -->
    <h3>
      {{name}}
      <span class="params">{{paramsList}}</span>
      {{#if type}}
        <span class="type">{{#crossLink type}}{{/crossLink}}</span>
      {{/if}}
      {{#if deprecated}}
        <span class="deprecatedFlag"></span>
      {{/if}}
      {{access}}
    </h3>

    <!-- DESCRIPTION -->
    <p>{{{methodDescription}}}</p>
  </div>

  <!-- PARAMETERS -->
  {{#if params}}
  <table>
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </thead>
    <tbody>
    {{#params}}
      <tr>
        <td>
          <strong>{{name}}</strong>
        </td>

        <td>
          <em>{{#crossLink type}}{{/crossLink}}</em>
        </td>

        <td>
        {{{description}}}
        </td>
      </tr>
    {{/params}}
    </tbody>
  </table>
  {{/if}}

  <!-- RETURNS -->
  {{#if return}}
  {{#return}}
  <div class="returns">
    <h5>Returns:</h5>
    {{#if type}}{{#crossLink type}}{{/crossLink}}{{/if}}{{#if description}} - {{{description}}}{{/if}}
  </div>
  {{/return}}
  {{/if}}

  <!-- EXAMPLE -->
  {{#if example}}
  <div class="example">
    <h5>Example:</h5>
    {{{example}}}
  </div>
  {{/if}}
</div>
{{/unless}}